@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
}

.glass-panel {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
}
